@import url(https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700);
@import "~styles/app.scss";

.stats {
  font-family: "Nunito", sans-serif;
  font-weight: lighter;
  letter-spacing: 0.5px;
  padding-bottom: 20px;
}

.userstats {
  font-family: "Nunito", sans-serif;
  font-weight: lighter;
  letter-spacing: 0.5px;
  padding-bottom: 20px;
  padding-left: 300px;
}

.homecontainer {
  max-width: 1200px;
  min-width: 1200px;
  margin: auto;
  padding: 0px 20px 20px 20px;
  overflow: auto;
}
