@import '~styles/app.scss';

.stats {
  padding-bottom: 20px;
  ul {
    top: -3px;
    left: 10px;
    list-style: none;
    li {
      position: relative;
      display: inline-block;
    }
  }
}

.homecontainer {
  max-width: 1200px;
  margin: auto;
  padding: 0px 20px 20px 20px;
}