@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light:300,400,500,600,700);
@import "~styles/bundle.scss";

.navbar {
  border-bottom: 1px solid $gray;
  line-height: 70px;
  min-width: 380px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navbar-height;
  background-color: $white;
  text-align: center;
  margin: 0 auto 0 auto;
  > div {
    display: inline-block;
  }
}

.navlinks {
  margin: 0;
  padding: 0;
  ul {
    top: -3px;
    left: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      position: relative;
      height: 20px;
      display: inline-block;
      margin-left: 15px;
      margin-top: 5px;
      svg {
        position: absolute;
        left: 0;
      }
      a {
        margin-left: 15px;
        color: $blue-grey;
      }
    }
  }
}

.navmenuright {
  float: right;
  position: relative;
  margin-right: 40px;
}

.navmenuleft {
  float: left;
  position: relative;
  margin-left: 10px;
}

.navtitle {
  margin: -4px 0 30px 35px;
  font-family: "Shadows Into Light", sans-serif;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
